{% extends 'nav.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <title>MealMate - Pago</title>
</head>
<body>
    {% if registro %}
    <a href="{% url 'registro_datos' item %}">Volver</a>
    <!-- True=pickup, False=delivery -->
    {% elif pedidos %}
        <a href="{% url 'pedidos2' item %}">Volver</a>
    {% elif not pedidos %}
        <a href="{% url 'pedidos' item %}">Volver</a>
    {% endif %}
<br>
    <ul class="nav nav-underline">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Pago Movil</a>
        </li>
        {% if efectivo %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pago_efectivo' item %}">Efectivo</a>
        </li>
        {% endif %}
        {% if zelle %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'zelle_pago' item %}">Zelle</a>
        </li>
        {% endif %}
        {% if paypal %}
        <li class="nav-item">
          <a class="nav-link" href="#">Paypak</a>
        </li>
        {% endif %}
      </ul>
<br>
    <h1>Pago movil</h1>
    <br><br>
    <h3>{{ nombre }}</h3>
    {% if error %}
    <<div
        class="alert alert-danger"
        role="alert"
    >
        <strong>Error</strong> {{ error }}
    </div>
    {% endif %}

    {% if pago_restaurante %}
    <h3>Datos pago movil del restaurante</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ pago_restaurante.banco }}</li>
        <li class="list-group-item">Telefono {{ pago_restaurante.telefono_pm }}</li>
        <li class="list-group-item">R.I.F. {{ rif }}</li>
        <li class="list-group-item">
            <strong>MONTO A PAGAR:</strong>
            ${{ total }} /  BS. {{ bolivares }}
        </li>
      </ul>
      {% endif %}
<br>
      {% if form %}
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="time" name="hora" value="{{ hora }}" id="hora">
        <br><br>
        <input type="submit" value="Verificar">
      </form>
        {% endif %}
</body>
</html>
{% endblock %}