{% extends 'nav.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MealMate - Pago</title>
</head>
<body>
    <!-- True=pickup, False=delivery -->
    {% if type %}
    <a href="{% url 'pedidos2' item %}">Volver</a>
    {% elif not type %}
    <a href="{% url 'pedidos' item %}">Volver</a>
    {% elif reservacion %}
    <a href="{% url 'reser_hora' %}">Volver</a>
    {% endif %}
    
    <h1>Datos del cliente</h1>
    <br>
    {% if error %}
    <<div
        class="alert alert-danger"
        role="alert"
    >
        <strong>Error</strong> {{ error }}
    </div>
    {% endif %}
    
    <h5>Registre sus datos para procesar el pedido</h5>
    <div class="alert alert-secondary" role="alert">
        Si inicias sesión, tus datos se cargarán automáticamente sin necesidad de introducirlos en cada pedido. Además, podras observar tus pedidos realizados.
        <a href="{% url 'login' %}">Iniciar sesión</a>
      </div>
      
    <form method="post">
        {% csrf_token %}
        {{ form }}
        {% if ubicacion and not type %}
        <br>
        <div class="card">
            <div class="body">
                <p><strong>Ubicacion de entrega del pedido</strong></p>
                {{ ubicacion }}<br>
                <a href="{% url 'ubicacion' item %}"><button type="button" class="btn btn-outline-primary">Cambiar ubicacion</button></a>
            </div>
        </div>
    <br>
        {% endif %}
        <br>
        <input type="submit" value="Continuar">
    </form>

</body>
</html>
{% endblock %}