

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    position: absolute;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid #FB8500;
    box-shadow: 0 0 25px #FB8500;
    overflow: hidden;
    opacity: 90%;
    backdrop-filter: blur(20px);
}

.wrapper .form-box {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.wrapper .form-box.login {
    left: 0;
    padding: 0 60px 0 40px;

}

.wrapper .form-box.login .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .form-box.login .animation {
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

.btn-box {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
}

.wrapper .form-box.register {
    right: 0;
    padding: 0 40px 0 60px;
    pointer-events: none;
    position: absolute;
    left: 50%;
}

.wrapper.active .form-box.register {
    pointer-events: auto;
}

.wrapper .form-box.register .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .form-box.register .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

.wrapper .form-box.cliente {
    right: 0;
    padding: 0 40px 0 60px;
    pointer-events: none;
    left: 50%;
    transform: translateX(100%);
    opacity: 90%;
    backdrop-filter: blur(20px);
}

.wrapper.active .form-box.cliente {
    pointer-events: auto;
}

.wrapper .form-box.cliente .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .form-box.cliente .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

.form-box h2 {
    margin: 5px;
    font-size: 30px;
    color: black;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    padding-right: 23px;
    font-size: 16px;
    color: black;
    font-weight: 500;
    transition: .5s;
}

.input-box input:focus,
.input-box input:valid {
    border-bottom-color: #0ef;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: black;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    color: #0ef;
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: black;
    transition: .5s;
}

.input-box input:focus~i,
.input-box input:valid~i {
    color:#0ef;
}

.btn {
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #219EBC;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 5px #219EBC, 0 0 25px #219EBC, 0 0 50px #219EBC, 0 0 100px #219EBC;
}

.btn::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#081b29, #219EBC, #081b29, #219EBC);
    z-index: -1;
    transition: .5s;
}

.btn:hover::before {
    top: 0;
}

.form-box .logreg-link {
    font-size: 14.5px;
    color: black;
    text-align: center;
    margin: 20px 0 10px;
}

.logreg-link p a {
    color:#8ECAE6;
    text-decoration: none;
    font-weight: 600;
}

.logreg-link p a:hover {
    text-decoration: underline;
}

.wrapper .info-text {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .info-text.login {
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
}

.wrapper .info-text.login .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .info-text.login .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

.wrapper .info-text.register {
    left: 0;
    text-align: left;
    padding: 0 150px 60px 20px;
    pointer-events: none;
}

.wrapper.active .info-text.register {
    pointer-events: auto;
}

.wrapper .info-text.register .animation {
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .info-text.register .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

.info-text h2 {
    font-size: 36px;
    color: black;
    line-height: 1.3;
    text-transform: uppercase;
}

.info-text p {
    font-size: 16px;
    color: black;
}

.wrapper .bg-animate {
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 600px;
    background:#FB8500;
    border-bottom: 3px solid #FB8500;
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.5s ease;
    transition-delay: 1.6s;
}

.wrapper.active .bg-animate {
    transform: rotate(0) skewY(0);
    transition-delay: .5s;
}

.wrapper .bg-animate2 {
    position: absolute;
    top: 100%;
    left: 250px;
    width: 850px;
    height: 700px;
    background: #fff;
    border-bottom: 3px solid #FB8500;
    transform: rotate(0) skewY(0);
    transform-origin: bottom left;
    transition: 1.5s ease;
    transition-delay: .5s;
}

.wrapper.active .bg-animate2 {
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: 1.2s;
}

.container-user {
    position: absolute;
    display: flex;
    gap: 1rem;
    cursor: pointer;
    border-radius: 10px; /* Bordes más redondeados */
    top: 10px;
    left: 10px;
}

.container-user .bi-box-arrow-left {
    font-size: 2rem;
    color: black;
    padding-left: 1rem;
    padding-top: 2%;
}


.container-user .bi-box-arrow-left:hover {
    transition: transform 0.3s; /* Transición para el efecto de movimiento */
    transform: scale(1.05); /* Movimiento hacia adelante al pasar el cursor */
}