{% load custom_filters_servicios %}
<h2>Añadir Reserva</h2>
<form method="post">
    {% csrf_token %}
    <div class="table-responsive-sm">
        <table class="table table-light" id="horariosTable">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Mesa</th>
                    <th scope="col">Hora</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">
                        <input type="date" name="fecha" min="{{ hoy }}" max="{{ mes }}">
                    </td>
                    <td>
                        <select name="mesa">
                            {% for i in mesas %}
                            <option value="{{ i }}">{{ i|add_one }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input name="hora" type="time">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <input type="submit" value="Añadir">
</form>
