{% extends 'nav.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Login</title>   
</head>
<body>
    <h1>Iniciar sesion</h1>
    {% if error %}
    {{ error }}
    {% endif %}
    <form  method="POST">
        {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"></label>
              {{ form.email }}
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"></label>
              {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary">Acceder</button>
        
    </form>
    <a href="{% url 'registro_cliente' %}"><b>Aun no tienes una cuenta?</b></a>
</body>
</html>
{% endblock %}