{% extends 'nav.html' %}
{% load custom_filters_principal %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MealMate - Pedido</title>
</head>
<body>
    <h1>{{ restaurante }}</h1>

    {% if ubicacion %}
        Ubicacion: {{ ubicacion }}
        <a href="{% url 'ubicacion' id %}"><button type="button" class="btn btn-outline-primary">Cambiar ubicacion</button></a>
        {% endif %}
    
    <div class="container">
        <h3>Pedido</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Comida</th>
                    <th>Ingredientes</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Comentario</th>
                    <th>Total</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for key, item in pedidos_dict.items %}
                    <tr>
                        <td>{{ key|add_one }}</td>
                        <td>{{ item.comida }}
                            <input type="hidden" value="{{ item.item }}" name="item">
                        </td>
                        <td>
                            {% for ingrediente in item.ingredientes|primeros_5 %}
                                {{ ingrediente }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ item.precio }}</td>
                        <td>
                            {{ item.cantidad }}
                        </td>
                        <td>
                            {{ item.comentario }}
                        </td>
                        <td>{{ item.total }}</td>
                        <td>
                            <a href="{% url 'modificar_pedido' id item.item %}">Modificar</a>
                        </td>
                    </tr>

              
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div
        class="table-responsive-sm"
    >
        <table
            class="table table-striped table-hover table-borderless table-info align-right"
        >
            <thead class="table-info">
            </thead>
            <tbody class="table-group-divider">
                <tr class="table-secondary">   
                    <td>Sub-Total</td>
                    <td> {{ total }}</td>
                    
                </tr>
                <tr class="table-secondary">   
                    <td title="Impuesto sobre el Valor Añadido"><I class="V A">I.V.A.</I></td>  
                    <td>16.00%</td>
                </tr>
                <tr class="table-info"> 
                    <td><b>Total</b></td>
                    <td>{{ iva }}</td>
                </tr>
            </tbody>
            <tfoot>
                
            </tfoot>
        </table>
    </div>
    
    <a class="btn btn-primary" href="{% url 'presentacion_one' id %}" role="button">Volver</a>
    <a class="btn btn-primary" href="{% url 'pago' id iva  %}" role="button">Pagar</a>

</body>
</html>
{% endblock %}