{% extends 'nav.html' %}
{% load custom_filters_principal %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>MealMate</title>
</head>
<body>
    <h1>{{ restaurante.nombre }}</h1>
    <br><br>
    <li>
        <ul>Desde {{ restaurante.fundacion }}</ul>
        <ul>Direccion {{ restaurante.direccion }}</ul>
        <ul>Telefono {{ restaurante.telefono }}</ul>
    </li>
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      {% if delivery %}
        <a href="{% url 'presentacion_one' restaurante.id %}"><button type="button" class="btn btn-outline-primary">Delivery</button></a>
      {% endif %}

      {% if pickup %}
      <a href="{% url 'presentacion_three' restaurante.id %}"><button type="button" class="btn btn-outline-primary">Pickup</button></a>
      {% endif %}

      {% if reservaciones %}
        <a href="{% url 'presentacion_two' restaurante.id %}"><button type="button" class="btn btn-outline-primary">Reservaciones</button></a>
      {% endif %}
    </div>
      
    {% if error %}
      <div
        class="alert alert-warning"
        role="alert"
      >
        <h4 class="alert-heading">Error</h4>
        <hr />
        <p class="mb-0">{{ error }}</p>
      </div>
      {% endif %}
</body>
</html>
{% endblock %}