{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <title>MealMate</title>
</head>
<body>

    {% if pickup and id is not 0 %}
        <a href="{% url 'presentacion_three' id %}"><button type="button" class="btn btn-outline-primary">x</button></a>
    {% elif reservaciones and id is not 0%}
        <a href="{% url 'presentacion_two' id %}"><button type="button" class="btn btn-outline-primary">x</button></a>
    {% else %}
        <a href="{% url 'home' %}">x</a>    
    {% endif %}

    <br>
    
    <h2>Marca tu ubicacion en el mapa</h2>
{% if error %}
    <div
        class="alert alert-danger"
        role="alert"
    >
        <h4 class="alert-heading">Error</h4>
        <p>{{ error }}</p>
        <hr />
    </div>
    
{% endif %}

    <!--Tamaño del mapa-->
    
    <form method="POST"> 
        {% csrf_token %} 
      
        <!-- Tamaño del mapa -->
        <div id="map" style="height: 600px; width: 600px;"></div>
        
        <!-- Campos ocultos para latitud y longitud -->
        <input type="hidden" id="lat" name="latitude" {% if latitud %} value="{{ latitud }}"  {% endif %} >
        <input type="hidden" id="long" name="longitude" {% if longitud %} value="{{ longitud }}"  {% endif %} >
        
        <button type="submit">Guardar</button> 
    </form>
    
    <!-- Incluir el archivo JavaScript -->
    <script>
        var redIconUrl = '{% static "img/leaf-red.png" %}';
        var shadowIconUrl ='{% static "img/leaf-shadow.png" %}';
    </script>
    <script src="{% static 'js/mapa2.js' %}"></script> <!-- Asegúrate de que la ruta sea correcta -->
</body>
</html>