<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MealMate</title>
</head>
<body>

    <a href="{% url 'home' %}">x</a>
    <h3>Ubicacion de entrega del pedido</h3>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Confirmar">
    </form>
    
    {% if error %}
    <div
        class="alert alert-danger"
        role="alert"
    >
        <strong>Error</strong> {{ error }}
    </div>
    {% endif %}

</body>
</html>