{% extends 'nav.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MealMate</title>
  
</head>
<body>
    
    <h1>Registro  Restaurante</h1>
        
        <a href="{% url 'registro_cliente' %}"><button>Cliente</button></a>
    <button disabled>Restaurante</button>
    
    {% if error %}
    <div
        class="alert alert-danger"
        role="alert"
    >
        <strong>Error</strong> {{ error }}
    </div>
    
    {% endif %}
    <div id="restaurante-form" class="form-container">
        <form method="POST">
            {{ form }}
            {%csrf_token%}
            <br><button>Registrarse</button>
        </form>
    </div>
</body>
</html>
{% endblock %}