{% extends 'nav.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu {{name}}</title>
</head>
<body>
    <h3>Añadir ingrediente</h3>
    {{error}}
    <form method="post">
        {% csrf_token %}
        {{form}}
        <!--regresar a la pagina anterior-->
        {% if item %}
        <a href="{% url 'editar_menu' item %}">Regresar</a>
        {% else %}
        <a href="{% url 'crear_menu' %}">Regresar</a>
        <input type="submit" value="Confirmar">
        {% endif %}
    </form>

</body>
</html>

{% endblock %}   