{% extends 'nav.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ nombre }}</title>  
</head>
<body>
    <h1>{{ nombre }}</h1>
    <h3>Paypal</h3>
    <!-- Formulario para los botones de navegación -->

            <a href="{% url 'perfil-restaurante' %}"><button id="tab-1" name="tab" value="datos" >Datos</button></a>
            <a href="{% url 'menu' %}"><button id="tab-2" name="tab" value="menu">Menú</button></a>
        <button id="tab-3" name="tab" value="pago" disabled>Metodos de pago</button>
        <a href="{% url 'activate_d' %}"><button id="tab-4" name="tab" value="servicios">Servicios</button></a>
       
        <br><br>
        <a href="{% url 'pago_nacional' %}">
            <button type="button" id="tab-5" name="tab" value="nacional">Pago Nacional</button>
        </a>
        <button disabled id="tab-6" name="tab" value="paypal">Paypal</button>
        <a href="{% url 'zelle' %}">
            <button type="button" id="tab-7" name="tab" value="zelle">Zelle</button>
        </a>

    <!-- Formulario para editar paypal -->
    <form method="POST" action="{% url 'paypal' %}"> 
        {% csrf_token %} 
        {{ form.as_p }} 
        <button type="submit">Guardar</button> 
    </form>
</body>
</html>

{% endblock %}