{% extends 'nav.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Paypal {{ nombre }}</title>  
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">{{ nombre }}</h1>
        <h3 class="text-center">Paypal</h3>

        <!-- Botones de navegación -->
        <div class="text-center mb-4">
            <a href="{% url 'perfil-restaurante' %}" class="btn btn-secondary" id="tab-1" name="tab" value="datos">Datos</a>
            <a href="{% url 'menu' %}" class="btn btn-secondary" id="tab-2" name="tab" value="menu">Menú</a>
            <button class="btn btn-secondary" id="tab-3" name="tab" value="pago" disabled>Métodos de pago</button>
            <a href="{% url 'activate_d' %}" class="btn btn-secondary" id="tab-4" name="tab" value="servicios">Servicios</a>
        </div>

        <div class="text-center mb-4">
            <a href="{% url 'pago_nacional' %}" class="btn btn-primary" id="tab-5" name="tab" value="nacional">Pago Nacional</a>
            <button class="btn btn-secondary" id="tab-6" name="tab" value="paypal" disabled>Paypal</button>
            <a href="{% url 'zelle' %}" class="btn btn-primary" id="tab-7" name="tab" value="zelle">Zelle</a>
        </div>
<h2>Paypal</h2>
        <!-- Formulario para editar Paypal -->
        <form method="POST" action="{% url 'paypal' %}" class="mt-4"> 
            {% csrf_token %} 
            <div class="form-group">
                {{ form.as_p }} 
            </div>
            <button type="submit" class="btn btn-success">Guardar</button> 
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}