<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login with overlay image</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Login-with-overlay-image.css">
</head>

<body style="width: 2000px;"><form class="fs-3 fw-normal text-center text-light-emphasis text-opacity-25 bg-light-subtle align-items-start visible" method="post" target="_self" style="margin: 50px;text-align: left;height: 100px;width: 500px;padding: 20px;"><input class="form-control form-control-sm" type="text" name="email" style="position: relative;display: inline-grid;overflow: scroll;border-style: none;border-bottom-style: solid;border-bottom-color: #f5886b;border-radius: 0px;" /><input class="form-control" type="password" style="border-style: none;border-bottom-style: solid;border-bottom-color: #f5886b;border-radius: 0px;" /></form>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>