{% extends 'nav.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MealMate</title>
    <link rel="stylesheet" href="{% static 'css/example.css' %}">
  
</head>
<body>
    
    <h1>Registro cliente</h1>
    <button disabled>Cliente</button>
        <a href="{% url 'registro_restaurante' %}"><button>Restaurante</button></a>
    {% if error %}
    <div
        class="alert alert-danger"
        role="alert"
    >
        <strong>Error</strong> {{ error }}
    </div>
    
    {% endif %}
    <div id="cliente-form" class="form-container">
        <form method="POST">
            {{ form }}
            {% csrf_token %}
            
            <br>
            <input type="submit" value="Registrarse">
        </form>
    </div>
</body>
</html>
{% endblock %}