{% extends 'nav.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/example.css' %}">
  
    <script>
        function redirigir(event, tipo) {
            event.preventDefault();
            if (tipo === 'restaurante') {
                window.location.href = "{% url 'registro_restaurante' %}";
            }
        }
    </script>
</head>
<body>
    
    <h1>Registro</h1>
    <form method="post">
        <button id="tab-1" checked name="tab" value="cliente" onclick="redirigir(event, 'cliente')">Cliente</button>
        <button id="tab-2" name="tab" value="restaurante" onclick="redirigir(event, 'restaurante')">Restaurante</button>
    </form>
    <div id="cliente-form" class="form-container">
        <form method="POST">
            {{ form }}
            {%csrf_token%}
            {{ error }}
            <br>
            <input type="submit" value="Registrarse">
        </form>
    </div>
</body>
</html>
{% endblock %}